body {
    padding: 0;
    display: inline;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav:hover {
    background: transparent;
    position: fixed;
    transition: 150ms;
    height: 80px;
    width: 100%;
  }
  
  nav {
    position: fixed;
    height: 30px;
    width: 50px;
  }
  
  nav:hover ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0px;
    padding-top: 0px;
  }
  
  #MenuIcon {
    position: fixed;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  nav:hover ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  nav:hover ul li a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }
  
  nav ul li {
    display: none;
  }
  
  main {
    margin-top: 0px;
    background-attachment: fixed;
    background-image: url("wallpaper3.webp");
    width: 100%;
    height: 100%;
    background-size: 100%;
    text-align: center;
    padding: auto;
    margin: 0px;
    padding-bottom: 20px;
  }
  
  #titleCV {
    color: white;
    margin: 0px;
    padding: 0px;
    padding-top: 100px;
    font-size: 50px;
  
    text-decoration: underline;
  }
  
  section {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    border: thick solid rgb(0, 102, 255);
    padding-bottom: 20px;
    
  }
  
  #photoCV {
    border-radius: 30px;
    margin-top: 20px;
  }
  
  .item-title {
    text-decoration: underline;
    font: bolder;
  }
  
  article {
    justify-content: center;
  }
  
  .article-title {
    text-align: center;
  }
  
  .text-item {
    text-align: center;
    margin: 0%;
  }
  
  footer {
    background-color: rgb(163, 156, 156);
    margin: 0%;
    text-align: center;
    border-top: black double 2px;
    padding: 20px;
  }
  .item-list img{
    vertical-align: middle;

  }

  #logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: auto;
  }
  